* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #111;
  height: 100vh;
}

.buttons {
  margin: 2rem 0;
}

a {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 15px 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

a::before,
a::after {
  content: "";
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background: #00fe73;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

a::before {
  left: 0; /*positioning the green bar background at the right*/
}

a::after {
  right: 0; /*positioning the green bar background at the right*/
}

a:nth-child(2)::before,
a:nth-child(2)::after {
  background: #fe1a6f;
}

a:hover::before,
a:hover::after {
  width: 50%; /* "closing/open door" animation */
  transition-delay: 0s;
}

a span {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}

a span:nth-child(1) {
  transition-delay: 0.5s;
}

a:hover span:nth-child(1) {
  transform: scale(0);
  transition-delay: 0s;
}

a span:nth-child(2) {
  transform: scale(3);
  opacity: 0;
  color: #111;
  transition-delay: 0s;
}

a:hover span:nth-child(2) {
  transform: scale(1);
  transition-delay: 0.5s;
  opacity: 1;
  z-index: 10;
}

/* || Loading  */
.loader {
  position: relative;
  -webkit-box-reflect: below -28px linear-gradient(transparent, #0002);
  margin: 2em 0;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #03e9f4;

  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor {
  0%,
  75% {
    opacity: 1;
  }
  76%,
  100% {
    opacity: 0;
  }
}

.loader h2 {
  position: relative;
  font-family: consolas;
  color: #03e9f4;
  letter-spacing: 5px;
  font-size: 4em;
  text-transform: uppercase;
  animation: typing 8s steps(10) infinite; /* 10 is the total number of characters */
  overflow: hidden; /* because we are going to make the typing animation using the width of the text container */
}

@keyframes typing {
  0%,
  90%,
  100% {
    width: 0;
  }
  30%,
  60% {
    width: 416.16px;
  }
}
