* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Raleway", sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 930px;
  gap: 10px;

  margin: 10vh auto;
}

/* || Card Obe  */

.card-one__container {
  margin: 0 auto;
}

.card-one {
  background-color: white;
  padding: 8px;

  width: 300px;
  height: 450px;
  border-radius: 12px;
  border: 1px solid #bacdd8;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 214px;

  object-fit: cover;
}

.card-one__details {
  padding: 16px 8px 8px 8px;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  margin: 0 auto;
  display: block;

  cursor: pointer;

  transition: all 300ms ease-in-out;
}

button:focus,
button:hover {
  color: #e0efff;
  background-color: #0077ff;
}

/* || Card Two  */

.card-two__container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  flex-wrap: wrap;
}

.card-two__content {
  position: relative;
  width: 300px;
  height: 450px;
  padding: 8px;
  color: white;
  background: #111;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s ease-in-out;
}
.card-two__content:hover {
  transform: translateY(-20px);
}

.card-two__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.card-two__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.card-two__content span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card-two__content span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.card-two__info {
  position: relative;
  z-index: 10;
  padding: 8px;
}

.card-two__info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.card-two__info p {
  font-size: 1.1em;
  color: white;
  margin-bottom: 30px;
  line-height: 1.4em;
}

.card-two__info a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  color: black;
  background: #fff;
  padding: 10px;
}

@media (max-width: 980px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 620px;
    gap: 10px;

    margin: 10vh auto;
  }
}

@media (max-width: 660px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 300px;
    gap: 10px;

    margin: 10vh auto;
  }
}
